.toolkit button {
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.basicAnim {
    animation-duration: 1s;
    animation-name: lotFormAnimation;
}
@keyframes lotFormAnimation {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.css-1r4vtzz, .css-48ayfv {
    border: 1px solid #FFC107 !important;
}
