.auctionBlock {
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 15px;
}
.auctionMenu {
    width: 100%;
    display: inline-block;
}

.auctionMenu button{
    margin-right: 10px;
    padding: 5px 20px;
}

.auctionMenu .backArrow {
    margin-right: 10px;
}
.auctionMenu .backArrow:hover {
    cursor: pointer;
}

.configBlock {
    overflow: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: configBlockAnimation;
}
@keyframes configBlockAnimation {
    from {

        max-height: 0;
    }
    to {

        max-height: 300px;
    }
}

.configBlock .input-group {
    margin-top: 15px;
}

span.tag {
    border-radius: 5px;
    padding: 0 10px;
    color: #444444;
}

.addTag {
    display: inline-block;
}

.addTag:hover {
    cursor: pointer;
}

.messageBox {
    display: inline-block;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(114, 114, 114, 0.25098);
    padding: 5px 8px;
    font-size: 0.8rem;
}

.messageBoxTime {
    float: right;
    margin-left: 0.4375rem;
    margin-top: 7px;
    font-size: 0.5rem;
    color: rgb(104, 108, 114);
}

.nav-tabs .nav-link {
    color: #000;
}
.nav-tabs .nav-link:hover {
    color: rgb(148, 52, 179);
}